<div class="sw-character-card">
    <div class="sw-character-card__info">
      <p class="sw-character-card__text"><strong>Name:</strong> {{characterInfo.name}}</p>
      <p class="sw-character-card__text"><strong>Eye color:</strong> {{characterInfo.eye_color}}</p>
      <p class="sw-character-card__text"><strong>Gender:</strong> {{characterInfo.gender}}</p>
      <p class="sw-character-card__text"><strong>Height:</strong> {{characterInfo.height}}</p>
      <p class="sw-character-card__text"><strong>Mass:</strong> {{characterInfo.mass}}</p>
    </div>
  <button class="sw-character-card__button" (click)="goToDetails()"></button>
</div>

